
body{
    background-image: url(https://image.winudf.com/v2/image1/Y29tLmJlc3QubGl2ZS53YWxscGFwZXIuYmFja2dyb3VuZHMuaGQudGhlbWUuZ2lybHkud2FsbHBhcGVycy5pbWFnZXMubHdwLm5lb24uYW5pbWFscy5saXZlLndhbGxwYXBlcl9zY3JlZW5fMTFfMTU0NzIxOTY2Nl8wMjg/screen-11.jpg?fakeurl=1&type=.jpg);
}
h1{
    color: purple;
}
h2{
    color: aqua;
}
h3{

    color: gray;
}
article{
    color: greenyellow;
}